<div fxLayout='column'>
    <div fxFlex fxLayout='row'>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <span>Login Signup App</span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div fxFlex fxFlexAlign='end center'>
       <mat-card>
           <mat-card-header>
               <mat-card-title>Login or Register!!</mat-card-title>
           </mat-card-header>
           <mat-card-actions>
            <button mat-raised-button>Regiter</button>
            <button mat-raised-button>Signup</button>
          </mat-card-actions>
       </mat-card>
    </div>
</div>
